.cover__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 320px) {
  .cover__link {
   gap: 16px
       
  }
}

  
