.place__title {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  margin: 0;
  align-self: end;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__title {
    width: 100%;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 320px) and (max-width: 486px){
  .place__title {
    width: calc(100% - 32px);
    margin: 0 auto;
    order: -1;
    font-size: 32px;
    line-height: 1.09;
  }
}
