.lead {
  max-width: calc(100% - 296px);
  margin: 0 auto;
  margin-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}

