.cover {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  background-image: url(../../../images/depo.png);
  margin-top: 92px;
  padding: 245px 0;
  background-repeat: no-repeat;
  background-size: cover;
}


.cover:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 100%;
    padding: 115px 0;
  }
}



@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
    padding: 33px 0;
    
      
  }
}
