.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 485px){
  .footer {
    max-width: calc(100% - 32px);
    margin-top: 64px;
  }
}
